<!DOCTYPE html>
<html>
  <head>
    <title>SmartDoc Clinical Simulation</title> <!-- Changed Title -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>SmartDoc Clinical Simulation</h1> <!-- Changed Header -->
    <h3>A simulated clinical interview using an LLM-powered virtual patient.</h3> <!-- Changed Sub-Header -->
    <div>
      <div id="chatbox">
        <!-- **** CHANGE #1: Use the variable from Flask for the initial message **** -->
        <p class="botText"><span>{{ initial_bot_message }}</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Ask a question...">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            // **** CHANGE #2: Get the response from the JSON object ****
            var botHtml = '<p class="botText"><span>' + data.response + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
